body {
    font-family: "Calibri";
}

.navbar {
    overflow: hidden;
    background-color: #383838;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li {
	display: inline;
}

.dropdown {
    
}

#programming {
	margin-top: 5%;
}