body{
    font-family: "Calibri";
}

/* Formatting the Navbar */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #383838;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 8px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000000;
}

.active{
    background-color: #800000;
}

/* Formatting the slideshow */