body{
    font-family: 'Raleway', sans-serif;
}

hr{
    color: #800000
}

/* Navbar Styling */

ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #383838;
    overflow: hidden;
    z-index: 1;
}

li{
    display: inline;
    float: left;
}

li a{
    display: block;
    padding: 13px 16px;
    color: #ffffff;
    text-align: center;
    width: 120px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    transition-duration: 500ms;
    background-color: #000000;
}

#active{
    background-color: #800000;
}

/* Navbar Styling Above */

/* Home Page Styling */

#courses-link{
    text-decoration: underline;
}

.title {
    text-align: center;
}

.paragraph{
    padding: 30px;
    font-size: 20px;
}

.subheading{
    padding-left: 30px;
    font-size: 25px;
}

.image{
    height: auto;
    display: block;
    max-width: 95%;
    margin: auto;
    text-align: center;
    border: 3px solid maroon;
}

.slide {
    display: none;
}

.slider {
    max-width: 100%;
    height: auto;
}

#slidingImages {
    max-width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    padding: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.3;}
    to {opacity: 1;}
}

.back, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    display: block;
    background-color: #00000033;
}

.back:hover, .next:hover {
    background-color: #000000CC;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    border-left: 3px solid maroon;
}

.back {
    border-right: 3px solid maroon;
}
/* Home Page Styling Above */

/* Courses Page Styling */

#AOITCourses {
    margin-top: 5%;
    text-align: center
}

#programming {
    margin-bottom: 4%;
}

#Aplus {
    margin-top: 3%;
}

#CyberSecurity {
    margin-top: 2%;
    margin-bottom: 11%;
}

#CISCO {
    margin-top: 3%;
}

.courseImage {
    float: left;
    margin-right: 5px;
    width: 40%;
    height: auto;
}

.courseImage2 {
    float: right;
    margin-left: 5px;
    width: 40%;
    height: auto;
}

#footer {
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 414px) {
    .courseImage, .courseImage2 {
        width: 100%;
        float: none;
        height: 10%;
    }
}
/* Courses Page Styling Above */

/* News Page Styling */

.newsLink{
    color: black;
    font-size:100%;
}

p{
    color:solid #800000;
}


.thumbnail {
    width:21%;
    height:280px;
    position:relative;
    margin-left:2%;
    margin-top:3%;
    margin-bottom:2%;
    padding:auto; 
    margin:auto;
    margin-top:1.7%;
}

.news-item {
    position:relative;
    border-width:3px;
    border-color:red;
    margin-top:4%;
    margin-bottom:12%;
    padding-bottom:-5%; 
    padding-top:-6%;
    padding:auto;
   /*  border:3px solid #800000; */
    padding: 5px 10px;
    margin-top:2%;
}

hr{
    border:3px solid #800000;
    margin-bottom:3%;
}

.Heading{
   text-align:left;
   position:relative;
   margin-top:-20%;
   margin-bottom:7.3%;
   margin-left:27%;
   display:block;
}
@media screen and (max-width: 580px){
    .Heading{
         text-align:none;
         margin-top:0%;
         margin-bottom:0%;
         margin-left:0%;
         }

    .thumbnail{
        width:100%;
        height:280px;
        position:;
    }
    h3{
        text-align: center;
    }

}

/* News Page Styling Above */

/* Contact Us Styles */

#contactUsMessage {
	max-width: 300px; 
	max-height: 200px;
	width: 300px;
	height: 50px;
}

#contactImage {
    width: 100%;
    display: block;
    margin-top: 3%;
    border: 3px solid #800000;
    height: auto;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
}

#contactUsText {
    margin-top: 4%;
    text-align: center;
}

#footer2 {
    font-style: italic;
    text-align: center;
    margin-top: 1%;
}


/* Contact Us Styles Above */

/* Partners Styling */

.pic{
    height: 180px;
    width: 180px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 18px;
}

.whole{
    text-align: center;
}

.partner, .name, .career,{
    text-align: center;
}
.name{
    font-weight: bold;
    font-size: 18px;
}
.comlogo{
    height: 300px;
    width: 300px;
}
.company{
    text-align:center;
    background-color: ;
}
#everything{
    column-count:2;
}

.companyname{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

@media screen and (max-width: 680px){
    #everything{
         column-count: 1;
    }

    .line{
        border-left:0;
        height:0;
        position: absolute;
        left:0;
        margin-left:0;
        top:0 ;
    }
}

/* Partners Styling */

.pic{
  height: 180px;
  width: 180px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 18px;
}

.whole{
  text-align: center;
}

.partner, .name, .career,{
    text-align: center;
}
.name{
    font-weight: bold;
    font-size: 18px;
}
.comlogo{
     height: 300px;
     width: 300px;
}
.comlogo2{
     height: 300px;
     width: 300px;
     background-color: maroon;
}
.company{
    text-align:center;
    background-color: ;
}
#everything{
    column-count:2;
}
#everything2{
    column-count:2;
}

.companyname{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.TopPage{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

@media screen and (max-width: 580px){
    #everything{
         column-count: 1;
    }
    #everything2{
        column-count: 1;
    }
    
}

/* Partners Styling Above */